.clockList {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.clockItem {
  background-color: var(--background-secondary-color);
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cityName {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-primary-color);
}

.time {
  font-size: 1.1rem;
  color: var(--accent-color);
}

.timezone {
  font-size: 0.9rem;
  color: var(--text-secondary-color);
}
